<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Feeder Api</title>
</head>
<body>
    <h1 style="text-align:center;">Product Feeder Api</h1>
    <h2> Çalışan Requestler</h2>
    <hr>
    <ul>
  <li>http://localhost:1234/XmlAll</li>
  <li>http://localhost:1234/JsonAll</li>
  <li>http://localhost:1234/info</li>
  <li>http://localhost:1234/anasayfa</li>
  <li>http://localhost:1234/</li>
    </ul>

    Not:Bütün verileri sıralayan get requestlerinde pagination yapılması gereklidir.
    <hr>
    <h2> Eksiklikler</h2>
    <hr>
    <ul>
      <li> Özel idler için post ve get işlemlerini routing edemedim ancak sınıfları ve methodları hazır.</li>
      <li>Moduller (Logs,Test,Lib) içerisindeki controllere alt sınıflar eklenmesi gereklidir.</li>

    </ul>
     <hr>
     <h2> Proje içerisine eklenmesi gerekenler</h2>
   
     <hr>
     Eksiklikler dışında api için  yapılması gereken şunlardır.
     <br>
     <ul>
     <li>Docker eklenmeli</li>
     <li>Message broker eklenmeli</li>
     <li>Cache Kontrolü yapılmalı</li>
    </ul>
    <hr>


</body>
</html>